<div id="menu" class="centrar">
  <form class="form-inline" action="/salir" method="GET">
    <button type="submit" class="btn btn-danger">Salir</button>
  </form>
</div>

<div id="chat"></div>

<div id="usuarios">

</div>

<div id="mensaje">
  <input id="text" placeholder="Escribe tu mensaje y pulsa Enter." autofocus />
</div>
