<div id="formulario" class="centrar">
  <p>¡El usuario ya existe, elige otro nombre!</p>
  <form class="form-inline" action="/entrar" method="POST">
    <br>
    <input type="text" name="usuario" class="form-control" autofocus placeholder="Introduce un nombre">
    <button type="submit" class="btn btn-success" href="/entrar">Entrar</button>
    <br>
  </form>
</div>
