<html>
  <head>
    <title>miniChat</title>
    <style>
      #text{width:100%; font-size: 15px; padding: 5px; display: block;}
    </style>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div id="cabecera">
      <img src="images/logo.png" alt="miniChat" class="logo"/>
    </div>

    <div id="menu">
      <br>
      <button type="button" class="btn btn-default">Registrarse</button>
      <button type="button" class="btn btn-success">Iniciar Sesión</button>

      <button type="button" class="btn btn-danger">Cerrar Sesión</button>
    </div>

    <div id="ventana">

      <div id="chat"></div>

      <div id="usuarios">

      </div>

      <div id="mensaje">
      <input id="text" placeholder="Escribe tu mensaje y pulsa Enter." autofocus />
      </div>

    </div>

    <div id="pie">
      <br>
      Jonay Suárez Armas
      <br>
      Sistemas y Tecnologías Web | Grado en Ingeniería Informática | ETSII | ULL
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src= "js/chat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
