body{
  background-color: #FFAA41;
}

#cabecera{
  height: 150px;
  text-align: center;
  //background-color: red;
  background-color: #FFAA41;
}

.logo{
	height: 150px;
}

#menu{
  background-color: #FFAA41;
  height: 50px;
  text-align: center;
}

.vacio-izq{
  width: 5%;
  height: 450px;
  float: left;
}

.vacio-dcha{
  width: 5%;
  height: 450px;
  float: right;
}

#ventana{
  width: 100%;
  height: 500px;
  border: border: 10px solid #979797;
  //text-align: center;
  background-color: #FFAA41;
}

#chat{
  width: 75%;
  height: 410px;
  backgroud-color: blue;
  border: border: 10px solid #979797;
  float: left;
  background-color: #FFAA41;
  overflow-y: scroll;
}

#usuarios{
  width: 25%;
  height: 410px;
  backgroud-color: red;
  float: right;
  background-color: #FFAA41;
  overflow-y: scroll;
}

#mensaje{
  height: 40px;
  clear: both;
  background-color: #FFAA41;
}

#pie{
	height: 50px;
	text-align: center;
  background-color: #FFAA41;
}

.centrar{
  text-align: center;
}
